body{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}
a{
  text-decoration: none;
}

#container {
  max-width: 90vw;
  height: 90vh;
  margin: 2vh auto;
  display: grid;
  grid-template-columns: repeat(8, minmax(100px,1fr));
  grid-auto-rows: min-content;
  grid-template-rows: repeat(8, 1fr);
  grid-column: 1/9;
  text-align: center;
  background: rgba(190, 29, 56, 0.5);
  background-size: cover;
   @media screen and (min-width: 1200px){
    margin: 0px;
    min-width: 70vw;
    min-height: 90vh;
  }
}
h1{
  grid-column: 4/6;
  grid-row:1/2;
  font-size: 1rem;
  text-align: center;
}

form {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5%;
  grid-row:2/8;
  grid-column: 1/9;
  justify-content: center;
  justify-self: center;
  margin: 1% auto;
    @media screen and (min-width: 1200px) {
    padding: 0px 2%;
    min-width: 60vw;
    min-height: 80vh;
  }
  }
  
  label {
    font-size: 1.5rem;
     @media screen and (min-width: 1200px){
      display: inline-flex;
    }
  }


.formInput {
    text-align: center;
    display: grid;
    border-radius: 10px;
    z-index: 0;
    margin: 1rem auto 0.5rem;
    padding: 0.2rem 8%;
    background: rgba(250, 250, 250, 0.3);
    max-width: 90%;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    flex-direction: column;
    box-shadow: 10px 10px 10px rgb(151, 150, 150);}

    input::focus {
    
      background-position: 0 50%;
      background-repeat: no-repeat;
    }
   

.hibaUzi {
  color: Red;
  font-size: 0.8rem;
  bottom: -1.2rem;
   @media screen and (min-width: 760px) {
    font-size: 1.2rem;
    bottom: -1.6vh;
  }
  @media screen and (min-width: 1200px){
  }
}

.button {
  width: span 2;
  display: inline-block;
  max-width: 95%;
  max-height: 20%;
  border-radius: 5%;
  justify-content: center;
  margin: 2% auto;
  padding: 1% 1%;
  font-size: 1rem;
  background-color: rgba(250, 250, 250, 0.3);
  box-shadow: 10px 10px 10px grey;
  @media screen and (min-width: 768px)  {
    margin: 0% auto 10%;
    border-radius: 10px;
  }
  @media screen and (min-width: 1200px) {
  padding: 1% auto;
    grid-column: 6/8;
    max-width: 10%;
    margin: 2% auto 5%;
    font-size: 2rem;
  }
}
button:hover{
    opacity: 0.5;
    transition: opacicity ease-in 2000ms;
}

.form-control {
  display: inline-flex;
  flex-direction: column;
}



  input {
    border: 0.2rem solid rgb(255, 192, 203);
    background: rgba(255, 192, 203, 0.5);
  }


 footer{
     grid-row:8/9;

 }
  