body{
    background-color: blanchedalmond;
}



li{
list-style-type: none;
 display:inline-block;
 padding:2%;

}
li>a{
text-decoration: none;
}

nav{
   display:grid;
   grid-template-columns: 1fr;
}

footer{
    text-align: center;
}